<p style="margin-top: 50px"></p>
<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="card card-profile">
        <div class="card-avatar">
          <a href="#pablo">
            <img class="img" src="../../assets/img/faces/admin2.png" />
          </a>
        </div>


        <div class="content">
          <h4 class="title">Admin Change Password</h4>
          <p class="category"></p>
        </div>
        <div class="card-content">
          <form #fap="ngForm" novalidate (ngSubmit)="save(f.value, f.valid)">
            <div class="row">

              <div class="col-md-12">
                <div class="form-group form-black label-floating is-empty">
                  <label>Password</label>
                  <input type="password" class="form-control" name="password" [ngModel]="user.password"
                         required validateEqual="confirmPassword" reverse="true" #password="ngModel">
                  <small [hidden]="password.valid || (password.pristine && !fap.submitted)" class="text-danger">
                    Password is required
                  </small>
                  <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
                </div>
                <div class="form-group">
                  <label>Retype password</label>
                  <input #pwd type="password" class="form-control" name="confirmPassword" [ngModel]="user.confirmPassword"
                         required validateEqual="password" reverse="false" #confirmPassword="ngModel">
                  <span [hidden]="confirmPassword.valid || (confirmPassword.pristine && !fap.submitted)" class="text-danger">
                  Password mismatch
                </span>
                  <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
                </div>
                <!--<div class="form-group form-black label-floating is-empty">
                  <label class="control-label">Password</label>
                  <input type="text" class="form-control" #pwd required="required" minlength="4">
                  <span *ngIf="pwd.errors && (pwd.dirty || pwd.touched)"
                        class="alert alert-danger">
                      <div [hidden]="!pwd.errors.minlength">
                        Password must be at least 4 characters long.
                      </div>
                    </span>
                </div>-->
              </div>
            </div>
            <button type="reset" class="btn btn-danger pull-left" value="Reset">Reset</button>
            <button type="submit" [disabled]="!fap.form.valid" class="btn btn-info btn-round" (click)="profileChange(pwd.value)">Submit Change</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="result=='1'" class="alert alert-success alert-dismissable col-md-offset-3 col-md-4">
  <strong>Success!</strong> <a href="home.component.html">Please login with new password</a>
</div>


