<script>
    $(document).ready(function () {
        $("#datepicker").datepicker({
            minDate: 0
        });
    });
</script>
<script>
    function myFunction() {
        var d = document.getElementById("pdate").value;
        var n = d.getDay();
        document.getElementById("demo").innerHTML = n;
        console.log(n);
    }
</script>
<p style="margin-top: 50px"></p>
<div class="row">

  <div class="col-md-offset-2 col-md-8 col-sm-6">
    <div class="card card-stats" >
      <div class="card-header" data-background-color="blue">
        <i class="material-icons">find_in_page</i>
      </div>
      <div class="card-content">
        <form class="navbar-form navbar-right" role="search" #f="ngForm">
          <div class="form-group form-black is-empty">
            <label class="control-label">Select Date</label>
            <input type="date" id="pdate" min="2017-07-05" class="form-control" #dt required="required">
            <span class="material-icons">date_range</span>
          </div>
          <p id="demo" #week></p>
          <!--<label for="apointment-date"> Date</label>
          <div class="input-group date" id="datepicker">
            <input class="form-control" id="appintmentDate" type="date" required>
            <span class="input-group-addon">
             <span class="glyphicon glyphicon-calendar"></span>
         </span>
          </div>-->
          <div class="form-group form-black is-empty">
            <label class="control-label">Specialization</label>
            <select class="form-control" #spec>
              <option value="CARDIOLOGIST">CARDIOLOGIST</option>
              <option value="DENTIST">DENTIST</option>
              <option value="ENT">ENT</option>
              <option value="GYNECOLOGIST">GYNECOLOGIST</option>
              <option value="PEDIATRICIAN">PEDIATRICIAN</option>
              <option value="UROLOGIST">UROLOGIST</option>
              <option value="HEMATOLOGIST">HEMATOLOGIST</option>
              <option value="HEPATOLOGIST">HEPATOLOGIST</option>
            </select>
          </div>
          <button type="submit"  class="btn btn-white btn-round btn-just-icon" (click)="searchDoctor(dt.value,spec.value)">
            <i class="material-icons">search</i><div class="ripple-container"></div>
          </button>
        </form>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Search For Doctor
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="exist=='1'" class="alert alert-danger alert-dismissable col-md-offset-3 col-md-4">
  <a href="new-appointment.component.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Oops!</strong> There is no available doctor
</div>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Avialiable</h4>
        <p class="category">Doctor avialiable and time slot</p>
      </div>
      <div class="card-content table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
          <tr>
            <th>Doctor Name</th>
            <th>Begin Time</th>
            <th>End Time</th>
            <th>Option</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let slot of result">
            <td>{{slot.doc_name}}</td>
            <td>{{slot.begin_time}}:00</td>
            <td>{{slot.end_time}}:00</td>
              <input type="hidden" value={{slot.doc_id}} #doc_id>
            <input type="hidden" value={{slot.doc_name}} #doc_name>
            <input type="hidden" value={{slot.end_time}} #end>
            <input type="hidden" value={{slot.begin_time}} #begin>
              <input type="hidden" value={{slot.day_id}} #day_id>
            <input type="hidden" value={{dt}} #dt>
            <input type="hidden" value={{pat_id}} #pat_id>
            <td class="text-danger"><a (click)="bookselect(doc_id.value, day_id.value, doc_name.value, begin.value, end.value)">select</a></td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
