

<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div *ngIf="result=='1'" class="alert alert-success alert-dismissable">
        <a href="adddoctor.component.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> <a routerLink="/patient-login"> You have registered, please login</a>
      </div>
      <div *ngIf="result=='0'" class="alert alert-danger alert-dismissable">
        <a href="adddoctor.component.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failed!</strong>Your email had already registered
      </div>
      <div class="card">
        <div class="card-header" data-background-color="red">
          <h4 class="title">Register</h4>
          <p class="category">Enter your information</p>
        </div>
        <div class="card-content">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-black is-empty">
                  <label class="control-label">Name</label>
                  <input type="text" class="form-control" #name required="required">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group form-black is-empty">
                  <label class="control-label">Email address</label>
                  <input type="email" class="form-control" #email required="required">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-black is-empty">
                  <label class="control-label">Password</label>
                  <input type="text"  class="form-control" #pwd required="required">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-black  is-empty">
                  <label class="control-label">Date of Birth</label>
                  <input type="date" class="form-control" #dob required="required">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-black  is-empty">
                  <label class="control-label">Gender</label>
                  <input type="radio" name="gender" #gender value="male" checked> Male
                  <input type="radio" name="gender" #gender value="female"> Female
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-danger pull-right" (click)="registerSubmit(dob.value,email.value,gender.value,name.value,pwd.value)" >Register</button>
            <div class="clearfix"></div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>


