
<div class="col-md-offset-2 col-md-8">
  <div *ngIf="result=='1'" class="alert alert-success alert-dismissable">
    <a href="adddoctor.component.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> Doctor schedule added!
  </div>
  <div *ngIf="result=='0'" class="alert alert-danger alert-dismissable">
    <a href="adddoctor.component.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Failed!</strong> Doctor license number not found
  </div>
  <div class="card card-nav-tabs" >
    <div class="card-header" data-background-color="purple">
      <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
          <span class="nav-tabs-title">Doctor Schedule:</span>
          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active">
              <a href="#profile" data-toggle="tab">
                <i class="material-icons">schedule</i>
                Schedule
                <div class="ripple-container"></div></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card-content">
      <div class="tab-content">
        <div class="tab-pane active" id="profile">
          <form>
          <table class="table">
            <tbody>
            <tr>
             Doctor License:
              <input type="text" class="form-control" #license>
            </tr>
            <tr>
              <td>
                <input type="checkbox" value="1" #mday> Monday
              </td>
              <td>
                From:
                <div class="input-group">
                  <input type="number" class="form-control" min="8" max="12"  #mbegin>
                  <span class="input-group-addon">：00</span>
                </div>
              </td>
              <td>
                To:
                <div class="input-group">
                  <input type="number" class="form-control" min="12" max="18"  #mend>
                  <span class="input-group-addon">：00</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" value="2" #tuday> Tuesday
              </td>
              <td>
                From:
                <div class="input-group">
                  <input type="number" class="form-control" min="8" max="12"  #tubegin>
                  <span class="input-group-addon">：00</span>
                </div>
              </td>
              <td>
                To:
                <div class="input-group">
                  <input type="number" class="form-control" min="12" max="18"  #tuend>
                  <span class="input-group-addon">：00</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" value="3" #wday> Wednesday
              </td>
              <td>
                From:
                <div class="input-group">
                  <input type="number" class="form-control" min="8" max="12"  #wbegin>
                  <span class="input-group-addon">：00</span>
                </div>
              </td>
              <td>
                To:
                <div class="input-group">
                  <input type="number" class="form-control" min="12" max="18"  #wend>
                  <span class="input-group-addon">:00</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" value="4" #tday> Thursday
              </td>
              <td>
                From:
                <div class="input-group">
                  <input type="number" class="form-control" min="8" max="12"  #tbegin>
                  <span class="input-group-addon">:00</span>
                </div>
              </td>
              <td>
                To:
                <div class="input-group">
                  <input type="number" class="form-control" min="12" max="18"  #tend>
                  <span class="input-group-addon">:00</span>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" value="5" #fday> Friday
              </td>
              <td>
                From:
                <div class="input-group">
                  <input type="number" class="form-control" min="8" max="12"  #fbegin>
                  <span class="input-group-addon">:00</span>
                </div>
              </td>
              <td>
                To:
                <div class="input-group">
                  <input type="number" class="form-control" min="12" max="18"  #fend>
                  <span class="input-group-addon">:00</span>
                </div>
              </td>

            </tr>
            <tr>
              <td>
                <input type="checkbox" value="6" #sday> Saturday
              </td>
              <td>
                From:
                <div class="input-group">
                  <input type="number" class="form-control" min="8" max="12"  #sbegin>
                  <span class="input-group-addon">:00</span>
                </div>
              </td>
              <td>
                To:
                <div class="input-group">
                  <input type="number" class="form-control" min="12" max="18"  #send>
                  <span class="input-group-addon">:00</span>
                </div>
              </td>

            </tr>
            <tr>
              <td>
                <input type="checkbox" value="7" #suday> Sunday
              </td>
              <td>
                From:
                <div class="input-group">
                  <input type="number" class="form-control" min="8" max="12"  #subegin>
                  <span class="input-group-addon">:00</span>
                </div>
              </td>
              <td>
                To:
                <div class="input-group">
                  <input type="number" class="form-control" min="12" max="18"  #suend>
                  <span class="input-group-addon">:00</span>
                </div>
              </td>

            </tr>
            </tbody>
          </table>
            <button type="reset" class="btn btn-danger pull-left" value="Reset">Reset</button>
            <button type="submit" [disabled]="!license.value" class="btn btn-danger btn-round" (click)="scheduledata(license.value,mday.checked,mbegin.value,mend.value,tuday.checked,tubegin.value, tuend.value,wday.checked, wbegin.value,wend.value,tday.checked,tbegin.value,tend.value,fday.checked, fbegin.value, fend.value,sday.checked,sbegin.value,send.value,suday.checked,subegin.value,suend.value)">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>