<p style="margin-top: 50px"></p>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div class="card">
        <div class="card-header" data-background-color="red">
          <h4 class="title">Add Doctor</h4>
          <p class="category">Enter doctor information</p>
        </div>
        <div class="card-content">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-black is-empty">
                  <label class="control-label">Name</label>
                  <input type="text" class="form-control" #dname required="required" >
                 <!-- <div *ngIf="name.errors|| (name.dirty || name.touched)"
                       class="alert alert-danger">
                <div [hidden]="!name.dirty">
                      Name must contained only character
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black  is-empty">
                    <label class="control-label">License No</label>
                    <input type="text" class="form-control" #dlicense required="required">
                  </div>
                </div>
              </div>
              <div class="row">
              <div class="col-md-12">
                <div class="form-group form-black is-empty">
                  <label class="control-label">Email address</label>
                  <input type="email" class="form-control" #demail>
                </div>
            </div>
              </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-black is-empty">
                  <label class="control-label">Password</label>
                  <input type="password" value="0000" class="form-control" id="pwd" #pwd required="required" minlength="4">
                  <span *ngIf="pwd.errors && (pwd.dirty || pwd.touched)"
                       class="alert alert-danger">
                    <div [hidden]="!pwd.errors.minlength">
                      Password must be at least 4 characters long.
                    </div>
                  </span>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group form-black  is-empty">
                    <label class="control-label">Specialization</label>
                    <select class="form-control" #spe_id>
                      <option value="CARDIOLOGIST">CARDIOLOGIST</option>
                      <option value="DENTIST">DENTIST</option>
                      <option value="ENT">ENT</option>
                      <option value="GYNECOLOGIST">GYNECOLOGIST</option>
                      <option value="PEDIATRICIAN">PEDIATRICIAN</option>
                      <option value="UROLOGIST">UROLOGIST</option>
                      <option value="HEMATOLOGIST">HEMATOLOGIST</option>
                      <option value="HEPATOLOGIST">HEPATOLOGIST</option>
                    </select>
                  </div>
                </div>
              </div>
            <button type="reset" class="btn btn-danger pull-left" value="Reset">Reset</button>
            <button type="submit"  class="btn btn-danger pull-right"  (click)="addDoctor(demail.value, dlicense.value, dname.value, pwd.value, spe_id.value)" >Add</button>
            <div class="clearfix"></div>

          </form>
          <div *ngIf="result=='1'" class="alert alert-success alert-dismissable">
            <a href="adddoctor.component.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Success!</strong> Doctor added
          </div>
          <div *ngIf="result=='0'" class="alert alert-danger alert-dismissable">
            <a href="adddoctor.component.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Failed!</strong> Doctor already exist
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<form class="form-horizontal">
  <div class="form-group">
    <label  class="col-sm-2 control-label">UserName</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" #uname placeholder="uname">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" #pwd id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" #email placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Mobile</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="mob" #mob placeholder="mobile">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">DOB</label>
    <div class="col-sm-10">
      <input type="date" class="form-control" id="dob" #dob placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Address1</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="aadd1" #add1 placeholder="Adress1">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">Address2</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="address"  #add2 placeholder="Adress2">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">UserType</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="usertype" #utype  placeholder="usertype">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" (click)="onSubmit(uname.value,pwd.value,email.value,mob.value,
      add1.value,add2.value,dob.value,utype.value)">Sign up</button>
    </div>
  </div>


</form>-->
