<p style="margin-top: 50px"></p>
<div class="row">

    <div class="col-md-offset-2 col-md-8 col-sm-6">
        <div class="card card-stats" >
            <div class="card-header" data-background-color="blue">
                <i class="material-icons">find_in_page</i>
            </div>
            <div class="card-content">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group form-black is-empty">
                        <label class="control-label">Enter Doctor Name</label>
                        <input type="text" class="form-control" placeholder="Name" #name>
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="searchDoctor(name.value)">
                        <i class="material-icons">search</i><div class="ripple-container"></div>
                    </button>
                </form>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">update</i> Search For Doctor
                </div>
            </div>
        </div>
    </div>
</div>
<p style="margin-top: 100px"></p>
<div class="row">
<div class="col-md-offset-1 col-md-10">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Doctor Result</h4>
                    <p class="category">Doctor with the name searched</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                        <tr>
                            <th>License Number</th>
                            <th>Name</th>
                            <th>Speciality</th>
                            <th>operation</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let data of result">

                                <td>{{data.license_no}}</td>
                                <input type="hidden" #slicense value={{data.license_no}}>
                                <td>{{data.name}}</td>
                                <td>{{data.speciality.name}}</td>
                                <td class="td-actions text-right">
                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs"(click)="geteditDoctor(slicense.value)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<!--<div class="row">
    <p style="margin-top: 50px"></p>
    <div class="container-fluid">
        <div class="row" [hidden]="li==''">
            <div class="col-md-offset-2 col-md-8">
                <div *ngIf="editresult=='1'" class="alert alert-success alert-dismissable">
                    <a href="deletedoctor.component.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> Doctor updated
                </div>
                <div *ngIf="editresult=='0'" class="alert alert-danger alert-dismissable">
                    <a href="deletedoctor.component.html" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Failed!</strong> Doctor information wrong!
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Edit Doctor</h4>
                        <p class="category">Enter doctor information</p>
                    </div>
                    <div class="card-content">
                        <form>
                            <input type="hidden" #elicense value={{li}}> &lt;!&ndash;value={{editdata.charAt(0)}}&ndash;&gt;
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black is-empty">
                                        <label class="control-label">Name</label>
                                        <input type="text" class="form-control" #ename required="required" value={{liname}}> &lt;!&ndash;value={{editdata.charAt(2)}}&ndash;&gt;
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black is-empty">
                                        <label class="control-label">Email address</label>
                                        <input type="email" class="form-control" #eemail value={{liemail}}> &lt;!&ndash;value={{editdata.charAt(1)}}&ndash;&gt;
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">Specialization</label>
                                        <select class="form-control" #espe_id>
                                            <option value="CARDIOLOGIST">CARDIOLOGIST</option>
                                            <option value="DENTIST">DENTIST</option>
                                            <option value="ENT">ENT</option>
                                            <option value="GYNECOLOGIST">GYNECOLOGIST</option>
                                            <option value="PEDIATRICIAN">PEDIATRICIAN</option>
                                            <option value="UROLOGIST">UROLOGIST</option>
                                            <option value="HEMATOLOGIST">HEMATOLOGIST</option>
                                            <option value="HEPATOLOGIST">HEPATOLOGIST</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger pull-right" (click)="editDoctor(elicense.value,eemail.value, ename.value, espe_id.value)" >Add</button>
                            <div class="clearfix"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->



